<div class="dropdown ml-3">
  <button class="btn btn-bd-light dropdown-toggle" id="bd-versions" data-toggle="dropdown" aria-expanded="false"
    data-display="static">
    <span class="d-none d-lg-inline">{{ .Site.Params.name }}</span> v{{ .Site.Params.docs_version }}
  </button>
  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions">
    <li><a class="dropdown-item current" aria-current="true" href="/docs/{{ .Site.Params.docs_version }}/">Latest
        (3.x)</a></li>
    <li>
  </ul>
</div>